.button {
    background-color: #764191;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 150%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    color: white;
    gap: 12px;
    border-radius: 12px;
    box-shadow:
        0px 1px 2px 0px rgba(6, 3, 7, 0.05),
        0px -2px 1px 0px rgba(0, 0, 0, 0.2) inset,
        0px 0px 0px 1px rgba(6, 3, 7, 0.05) inset,
        0px 2px 1px 0px rgba(255, 255, 255, 0.25) inset,
        0px 32px 24px 0px rgba(255, 255, 255, 0.05) inset;
    margin-bottom: 64px;
}

.label {
    font-family: "Epilogue", sans-serif;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: -1%;
    color: white;
}

.description {
    color: white;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    margin: 20px 16px 24px 16px;
}

.rightArrow {
    width: 24px;
    height: 24px;
}

.heroContainer {
    padding-top: 70px;
}

.photosContainer {
    display: flex;
    align-items: center;
    gap: 16px;

}

.wrapOne,
.wrapTwo {
    width: calc(50% - 8px);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (min-width: 1440px) {
    .centerFlex {
        display: flex;
        align-items: center;
        gap: 34px;
        padding-top: 80px;
        background-color: #23132b;
         box-shadow:
        0px 1px 2px 0px rgba(6, 3, 7, 0.05),
        0px -2px 1px 0px rgba(0, 0, 0, 0.2) inset,
        0px 0px 0px 1px rgba(6, 3, 7, 0.05) inset,
        0px 2px 1px 0px rgba(255, 255, 255, 0.25) inset,
        0px 32px 24px 0px rgba(255, 255, 255, 0.05) inset;
    }

    .leftSide,
    .photosContainer {
        width: calc(50% - 17px);
    }

    .label {
        font-family: "Epilogue", sans-serif;
        font-weight: 700;
        font-size: 84px;
        line-height: 110%;
        letter-spacing: -1%;
    }

    .description {
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
    }
    .button {
    width: 302px;
    background-color: #764191;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    color: white;
    gap: 12px;
    border-radius: 12px;
    box-shadow:
        0px 1px 2px 0px rgba(6, 3, 7, 0.05),
        0px -2px 1px 0px rgba(0, 0, 0, 0.2) inset,
        0px 0px 0px 1px rgba(6, 3, 7, 0.05) inset,
        0px 2px 1px 0px rgba(255, 255, 255, 0.25) inset,
        0px 32px 24px 0px rgba(255, 255, 255, 0.05) inset;
    margin-bottom: 64px;
}
}