.description {
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -1%;
  text-align: center;
  padding-bottom: 32px;
}

.name {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.swiperContainer {
  padding-bottom: 48px;
}

.star {
  width: 20px;
  height: auto;
}

.starList {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 32px;
}

.buttonFeedback {
  display: block;
  background-color: #764191;
  padding: 10px 24px;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  text-align: center;
  border-radius: 12px;
  margin: 0 auto;
  margin-top: 16px;
  box-shadow: 0px 1px 2px 0px #00000033,
  0px -2px 1px 0px #00000033 inset,
  0px 0px 0px 1px #00000033 inset,
  0px 2px 1px 0px #FFFFFF40 inset,
  0px 32px 24px 0px #FFFFFF0D inset;
  cursor: pointer;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: #060307;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

}

.cross {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.submit {
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -1%;
  text-align: center;
  color: white;
}

.textarea {
  border: 1px solid #FFFFFF33;
  border-radius: 12px;
  padding: 8px 12px;
  background-color: transparent;
  outline: none;
  display: block;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  width: 100%;
  color: white;
  resize: none;
}

.label {
  display: block;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  margin-bottom: 8px;
}

.inputName {
  color: white;
  display: block;
  border: 1px solid #FFFFFF33;
  border-radius: 12px;
  padding: 8px 12px;
  background-color: transparent;
  outline: none;
  display: block;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  width: 100%;
  margin-bottom: 32px;
}

.buttonSubmit {
  width: 100%;
  background-color: #764191;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  border-radius: 12px;
  cursor: pointer;
}
