.stars {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  margin: 0.5rem 0;
}

.star {
  font-size: 2rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s ease;
}

.star.active,
.star:hover {
  color: rgba(118, 65, 145, 1);
}
