.ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 32px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.purple {
    width: 84px;
    height: auto;   
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}