.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000cf;
  padding: 64px 16px;
}

.modal {
  background-color: #060307;
  width: 100%;
  height: 100%;
  overflow: scroll;
  color: white;
}

.artistName {
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -1%;
  text-align: center;
  margin-bottom: 16px;
}
.artistPhoto {
  border-radius: 8px;
  width: 100%;
}
.yearActive {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  margin-top: 32px;
}

.year {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 16px;
}

.sex {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 16px;
}

.gender {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 16px;
}

.members {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.membersValue {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 16px;
}

.countryTitle {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.countryValue {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 16px;
}

.biographyTitle {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.biographyValue {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 16px;
}

.genre {
  padding: 4px 10px;
  border-radius: 6px;
  border: 1px solid #ffffff33;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.ulGenre {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 24px 0 16px;
}

.album {
  background-color: #1e1c1f;
  padding: 14px 11px;
}

.albums {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-shrink: 1;
}

.albumName {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 12px;
}

.trackInfo {
  display: flex;
  align-items: center;

  border-radius: 8px;
}

.trackInfo:nth-child(2n) {
  background-color: gray;
}

.strTrack {
  flex-grow: 1;
  padding: 8px 12px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  line-height: 150%;
}
.youtube {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}
.intDuration {
  width: 50px;
  text-align: center;
}

.trackLink {
  width: 50px;
  text-align: center;
}
.none {
  width: 50px;
  text-align: center;
  padding-left: 7px;
}
.titleList {
  display: flex;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 8px;

  line-height: 150%;
  letter-spacing: 0%;
  display: flex;
  background-color: gray;
  padding: 4px 12px;
  border-radius: 8px;
  justify-content: space-between;
}
.titleWrap {
  display: flex;
  gap: 35px;
}
.titleLink {
  width: 20px;
  text-align: center;
}
