.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000cf;
  padding: 64px 16px;
}
.modal {
  background-color: wheat;
  width: 100%;
  height: auto;
  overflow: scroll;
}
.year{
  color: white;
}
.yearActive{
  color: white;
}