.text {
  display: -webkit-box;
  -webkit-line-clamp: 2;     /* скільки рядків залишити */
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: white;
}
.name{
    color:white
}
.ulGenre{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 24px 0 16px ;
}
.genre{
    padding: 4px 10px;
    border-radius: 6px;
    border: 1px solid #FFFFFF33;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}